<%= render :partial => "/shared/header"  %>
<section id='body_content'>
<%=
    render partial: "/flex-slider/home"
%>
<%=raw @page.content_for(:body) %>
</section>
<%= render :partial => "/shared/footer"  %>
