<a href='<%=refinery.root_path%>'><img id="logo-header" src="/assets/AA-LOGO1.png"></a>
  <%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
