//logo blue - darkest ---- #123EAB
//menu blue - medium ----- #466FD5
//background blue - light -#E6EAF2
//darkest blue ------------#00529B
//------------------------------------
//	RESET
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
//------------------------------------
//	BODY
html,body {
background-color: #FFFFFF;
font-family: Verdana, Trebuchet MS, Arial, sans-serif;
font-size: 10pt;
text-align:left;
color:  #123EAB; //logo blue
}
h1 {
font-size:24px;
padding-bottom:25px;
}
h2 {
padding-bottom:5px;
padding-top:10px;
}
h3 {
padding-bottom:5px;
padding-top:25px;
}
h4 {
padding-bottom:5px;
padding-top:25px;
}
#page_container {
width: 1024px;
margin: auto;
}
#page_container_table {
width: 1024px;
margin: auto;
	li {
	margin-left:15px;
	}
}
#body_content {
background: #FFFFFF;
border-style: none;
border-radius:10px;
padding-top:25px;
padding-bottom:25px;
padding-left:15px;
padding-right:10px;
background:#E6EAF2; //background blue
position:relative;
top:0px;
	h1 {
	margin-top:20px;
	}
}
#body_content_text {
margin-top:20px;
margin-right:10px;
}
#side_body_content {
background: #FFFFFF;
border-style: none;
border-radius:10px;
padding:20px;
background:#E6EAF2; //background blue
li {
margin-left:15px;
}
}
#news_body_content {
top:1px;
  td {}
}
#news_column {
background: #FFFFFF;
border-style: none;
border-color: #123EAB;
border-radius:10px;
padding:25px;
background:#E6EAF2; //background blue
}
#lower_body_content {
background: #FFFFFF;
border-style: none;
border-radius:10px;
padding:25px;
background:#E6EAF2; //background blue
}
#home_flex_slider {
width:500px;
position:relative;
margin-right:30px;
float:left;
  li {
  margin-left:0px;
  }
}
#header {
background: #FFFFFF;
position:relative;
z-index:3;
height:160px;
}
#logo-header {
position:absolute;
top:40px;
left:20px;
right:100px;
width: 475px;
z-index:4;
}

//------------------------------------
//NAVIGATION from http://csswizardry.com/2011/02/creating-a-pure-css-dropdown-menu/
#menu{
z-index:5;
float:right;
margin-top:20px;
}
#menu li{
list-style:none;
float:left;
margin-right:25px;
position:relative;
}
#menu a{
font-size:12px;
padding:1px;
text-decoration:none;
border-top: solid;
border-width: 1px;
border-top-color: #466FD5; // menu blue
color: #123EAB; //logo blue
display: block;
float: left;
width:75px;
text-align:center;
border-radius:3px;
}

#menu li.selected a{
background: #466FD5; //medium blue
color: #FFFFFF; //white
border-radius:3px;
}




//------------------------------------
//	DROPDOWN

#menu ul ul{
background:#E6EAF2; // Adding a background makes the dropdown work properly in IE7+.
background:rgba(255,255,255,0); // make the background fully transparent where we can
list-style:none;
position:absolute;
left:-9999px; // Hide off-screen when not needed (this is more accessible than display:none;)
}
#menu ul ul li{
padding-top:2px; //give the illusion spaced items
}
#menu ul ul a{
white-space:nowrap; // Stop text wrapping and creating multi-line dropdown items
width:160px;
text-align:left;
}
#menu ul li:hover ul{ // Display the dropdown on hover
left:0; // Bring back on-screen when needed
top:15px;
}
#menu ul li:hover a{ // create persistent hover state for top-most link when your cursor has moved down the list.
background: #466FD5; // menu blue
color: #FFFFFF;
}
#menu ul li:hover ul a{ //persistent hover state creates global style for links even before they're hovered. Here we undo these effects.
text-decoration:none;
float:left;
padding-left:10px;
}
#menu ul li:hover ul li a:hover{ // define most explicit hover states
background: #123EAB; //logo blue
}

//------------------------------------
//CONTACT

.placeholder-fallback {
display: block;
float: left;
width: 150px;
}
.field {
height:30px;
}
.actions {
position:relative;
top:70px;
height:30px;
float:right;
}
.new_inquiry {
margin-top:20px;
width:750px;
height:225px;
}
//------------------------------------
//	FOOTER

#page_container footer {
background: #FFFFFF;
border-style: solid;
border-color: #123EAB;
border-width: 1px;
border-radius:10px;
padding:10px;
margin-top:10px;
}
