<div id="home_flex_slider">
<div class="flexslider">
 <ul class="slides">
    <li><img src="/assets/civil-planning/civil-planning-1.png" /></li>
    <li><img src="/assets/civil-planning/civil-planning-2.png" /></li>
    <li><img src="/assets/civil-planning/residential-planning-pullman.png" /></li>
  </ul>
</div>
</div>