<div id="home_flex_slider">
<div class="flexslider">
 <ul class="slides">
    <li><img src="/assets/inspections/wind-offshore-turbines.png" /></li>
    <li><img src="/assets/photography/rooftops-in-france.png" /></li>
    <li><img src="/assets/inspections/dam-1.png" /></li>
    <li><img src="/assets/photography/windsurf-1.png" /></li>
    <li><img src="/assets/inspections/inspections-radio-telescope.png" /></li>
    <li><img src="/assets/inspections/farm-field-1.png" /></li>
    <li><img src="/assets/civil-planning/residential-planning-pullman.png" /></li>
    <li><img src="/assets/construction-progress/construction-progress-1.png" /></li>
    <li><img src="/assets/environmental-monitoring/environmental-monitoring.png" /></li>
  </ul>
</div>
</div>