<div id="home_flex_slider">
<div class="flexslider">
 <ul class="slides">
    <li><img src="/assets/inspections/dam-1.png" /></li>
    <li><img src="/assets/inspections/farm-field-1.png" /></li>
    <li><img src="/assets/inspections/oil-gas-tanker.png" /></li>
    <li><img src="/assets/inspections/oil-offshore-2.png" /></li>
    <li><img src="/assets/inspections/solar-panels-1.png" /></li>
    <li><img src="/assets/inspections/wind-offshore-turbines.png" /></li>
    <li><img src="/assets/inspections/inspections-radio-telescope.png" /></li>
    <li><img src="/assets/inspections/farm-field-2.png" /></li>
  </ul>
</div>
</div>