<div id="home_flex_slider">
<div class="flexslider">
  <ul class="slides">
    <li><img src="/assets/inspections/wind-offshore-turbines.png" />
	  <p class="flex-caption">offshore wind turbine inspections</p></li>
    <li><img src="/assets/microdrone/md4-1000-press-kit-industry-inspection-400x200.png" />
	  <p class="flex-caption">inspection with microdrone md4-1000</p></li>
    <li><img src="/assets/microdrone/md4-1000-press-kit-sar-400x200.png" />
	  <p class="flex-caption">search and rescue with md4-1000</p></li>
    <li><img src="/assets/microdrone/md4-1000-press-kit-industry-400x200.png" />
	  <p class="flex-caption">industry application with md4-1000</p></li>
    <li><img src="/assets/real-estate/real-estate-pool.png" />
	  <p class="flex-caption">real estate marketing</p></li>
    <li><img src="/assets/civil-planning/residential-planning-pullman.png" />
	  <p class="flex-caption">housing development planning</p></li>
    <li><img src="/assets/microdrone/md4-1000-press-kit-industry-400x200.png" />
	  <p class="flex-caption">industry application with md4-1000</p></li>
  </ul>
</div>
</div>